[project]
	description = Automatically exported from code.google.com/p/blog-cielyann
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yann (yannliang)
[access "refs/for/refs/*"]
	read = group user/Yann (yannliang)
	push = group user/Yann (yannliang)
	label-Code-Review = -2..+2 group user/Yann (yannliang)
	label-Verified = -1..+1 group user/Yann (yannliang)
	rebase = group user/Yann (yannliang)
	removeReviewer = group user/Yann (yannliang)
	submit = group user/Yann (yannliang)
[access "refs/heads/*"]
	read = group user/Yann (yannliang)
	create = group user/Yann (yannliang)
	push = +force group user/Yann (yannliang)
	pushMerge = group user/Yann (yannliang)
[access "refs/tags/*"]
	push = +force group user/Yann (yannliang)
	pushTag = group user/Yann (yannliang)
	pushSignedTag = group user/Yann (yannliang)
