/* begin Page */

img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
.cs-Sheet, .cs-Sheet-body
{
	zoom:1;
}

.cs-Sheet-body
{
	position:static;
}

.cs-Sheet-tr, .cs-Sheet-tl, .cs-Sheet-br, .cs-Sheet-bl, .cs-Sheet-tc, .cs-Sheet-bc,.cs-Sheet-cr, .cs-Sheet-cl
{
	font-size: 1px;
	background: none;
}

.cs-Sheet-tr, .cs-Sheet-tl, .cs-Sheet-br, .cs-Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='scale')");
}

.cs-Sheet-tl
{
	clip: rect(auto 25px 25px auto);
}

.cs-Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-50+'px');
	clip: rect(auto auto 25px 25px);
}

.cs-Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-50+'px');
	clip: rect(25px 25px auto auto);
}

.cs-Sheet-br
{
	top: expression(this.parentNode.offsetHeight-50+'px');
	left: expression(this.parentNode.offsetWidth-50+'px');
	clip: rect(25px auto auto 25px);
}

.cs-Sheet-tc, .cs-Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-50+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='scale')");
}

.cs-Sheet-tc
{
	clip: rect(auto auto 25px auto);
}

.cs-Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-50+'px');
	clip: rect(25px auto auto auto);
}

.cs-Sheet-cr, .cs-Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-50+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='scale')");
}

.cs-Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-50+'px');
	clip: rect(auto auto auto 25px);
}

.cs-Sheet-cl
{
	clip: rect(auto 25px auto auto);
}

.cs-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-50+'px');
	height: expression(this.parentNode.offsetHeight-50+'px');
	background-color: #363636;
}
#cs-page-background-simple-gradient, #cs-page-background-gradient, #cs-page-background-glare
{
	width:expression(document.body.clientWidth > 900 ? "100%" : "900px");
}
/* end Box, Sheet */

/* begin Menu */

.cs-menu ul
{
	height: 1%;
	width:1px;
}

.cs-menu, .cs-menu ul
{
	height: 1%;
}

.cs-menu li.cs-menuhover
{
	z-index: 10000;
}

.cs-menu .cs-menuhoverUL
{
	visibility: visible;
}

.cs-menu .cs-menuhoverUL
{
	top: 100%;
	left: 0;
}

.cs-menu .cs-menuhoverUL .cs-menuhoverUL
{
	top: 0;
	left: 100%;
}

.cs-menu ul a
{
	height: 1%;
}

.cs-menu li li
{
	float: left;
	width: 100%;
}

.cs-menu .cs-menuhoverUL .cs-menuhoverUL
{
	top: 5px;
	left: 100%;
}

.cs-menu, .cs-menu ul
{
	height: 1%;
}

.cs-menu li.cs-menuhover
{
	z-index: 10000;
}

.cs-menu .cs-menuhoverUL
{
	visibility: visible;
}

.cs-menu .cs-menuhoverUL
{
	top: 100%;
	left: 0;
}

.cs-menu .cs-menuhoverUL .cs-menuhoverUL
{
	top: 0;
	left: 100%;
}

.cs-menu ul a
{
	height: 1%;
}

.cs-menu li li
{
	float: left;
	width: 100%;
}

.cs-nav
{
	zoom: 1;
}

/* end Menu */

/* begin MenuItem */
.cs-menu a
{
	float:left;
}

.cs-menu a:hover
{
	visibility:visible;
}

.cs-menu a .r, .cs-menu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.cs-menu a .r
{
	left: expression(this.parentNode.offsetWidth-412+'px');
	clip: rect(auto auto auto 406px);
}

.cs-menu a .l
{
	width: expression(this.parentNode.offsetWidth-6+'px');
}

.cs-menuhover .cs-menuhoverA .t
{
	color: #F0F0F0;
}

.cs-menuhover .cs-menuhoverA .l, .cs-menuhover .cs-menuhoverA .r
{
	top: -24px;
}
/* end MenuItem */

/* begin MenuSeparator */
.cs-nav .cs-menu-separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin MenuSubItem */

.cs-menu ul a
{
	color: #FCF3ED !important;
}

.cs-menu ul a:hover {
	color: #F2F2F2 !important;
}	

.cs-menu ul .cs-menuhover .cs-menuhoverA
{
	color: #F2F2F2 !important;
	background-position: 0 -20px;
}

.cs-nav .cs-menu ul a:hover span, .cs-nav .cs-menu ul a:hover span span
{
	color: #F2F2F2 !important;
}	

.cs-nav .cs-menu ul .cs-menuhover .cs-menuhoverA span, .cs-nav .cs-menu ul .cs-menuhover .cs-menuhoverA span span
{
	color: #F2F2F2 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.cs-Block, .cs-Block-body
{
	zoom:1;
}

.cs-Block-body
{
	position:static;
}

.cs-Block-tr, .cs-Block-tl, .cs-Block-br, .cs-Block-bl, .cs-Block-tc, .cs-Block-bc,.cs-Block-cr, .cs-Block-cl
{
	font-size: 1px;
	background: none;
}

.cs-Block-tr, .cs-Block-tl, .cs-Block-br, .cs-Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='scale')");
}

.cs-Block-tl
{
	clip: rect(auto 11px 11px auto);
}

.cs-Block-tr
{
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(auto auto 11px 11px);
}

.cs-Block-bl
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	clip: rect(11px 11px auto auto);
}

.cs-Block-br
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(11px auto auto 11px);
}

.cs-Block-tc, .cs-Block-bc
{
	width: expression(this.parentNode.offsetWidth-22+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='scale')");
}

.cs-Block-tc
{
	clip: rect(auto auto 11px auto);
}

.cs-Block-bc
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	clip: rect(11px auto auto auto);
}

.cs-Block-cr, .cs-Block-cl
{
	height: expression(this.parentNode.offsetHeight-22+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='scale')");
}

.cs-Block-cr
{
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(auto auto auto 11px);
}

.cs-Block-cl
{
	clip: rect(auto 11px auto auto);
}

.cs-Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-22+'px');
	height: expression(this.parentNode.offsetHeight-22+'px');
	background-color: #474747;
}
/* end Box, Block */

/* begin BlockHeader */
.cs-BlockHeader, .cs-BlockHeader
{
	font-size: 1px;
}

.cs-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.cs-BlockContent, .cs-BlockContent-body
{
	zoom:1;
}

.cs-BlockContent-body
{
	position:static;
}

.cs-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.cs-Post, .cs-Post-body
{
	zoom:1;
}

.cs-Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.cs-Post ul li, .cs-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.cs-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.cs-button-wrapper .cs-button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.cs-button-wrapper, .cs-button-wrapper .l, .cs-button-wrapper .r
{
	font-size: 1px;
}

.cs-button-wrapper .cs-button
{
	float:left;
}

.cs-button-wrapper .l, .cs-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.cs-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-407+'px');
	clip: rect(auto auto auto 400px);
}

.cs-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-7+'px');
}

/* end Button */

/* begin Footer */
.cs-Footer .cs-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.cs-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



.commentlist, .commentlist li
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
